<h2 id="title">ember-computed-change-gate</h2>

Type some words: {{input value=text}}

<hr>
gatedWordCount: {{gatedWordCount}} | gatedObserverCount: {{gatedObserverCount}}<br>
normalWordCount: {{normalWordCount}} | normalObserverCount: {{normalObserverCount}}<br>
